/* Empty. Add your own CSS if you like */
body {
  background-color: #c86023;
}

.background, .background .pane, .background .item, .background .item-complex .item-content {
  background-color: #c86023;
}

.weather {
  position: relative;
  width: 100%;
}

h2 {
  position: absolute;
  right: 10px;
  width: 100%;
}
